body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 85%; /* Covering 70% of the screen */
    /* Limiting the width for better readability */
    height: 98%;
    border-radius: 12px;
    position: relative;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.chat-header {
    background-color: #324190; /* Dark blue header */
    color: #fff;
    padding: 15px;
    text-align: center;
}


.message {
    margin-bottom: 15px;
}


.input-box {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 10px;
    width: 98%;
    padding: 15px;
    border-top: 2px solid #324190; /* Dark blue border on top */
    /* margin-top: 500px; */
}

.input-box input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1em;
    height: fit-content;
}

.input-box button {
    padding: 10px 20px;
    background-color: #5964e0; /* Light blue button */
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.input-box button:hover {
    background-color: #4751cc; /* Slightly darker blue on hover */
}

.messages__item {
    /* margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    width: 100%; Set the width to 100% */
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 20px); 
}

.messages__item--visitor {
    text-align: left;
    background-color: blueviolet; /* Light gray background for user messages */
}

.messages__item--operator {
    text-align: right;
    background-color:  #e0e0e0;; /* Green background for Zenly or chatbot messages */
    color: black;
}