<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"  defer></script>
</head>
<body>
    <div class="box">
        <form onsubmit="return validateForm()">
        
        <div class="container">
          <header>Sign Up</header>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Enter Phone Number" name="name" id="phoneNumber" required>
                </div>
                <div class="input-field">
                    <input type="number" class="input" placeholder="Enter Age" name="age" id="age" required>
                </div>
                
                <div class="input-field">
                    <input type="text" class="input" placeholder="Enter Username" name="uname" id="username" required>
                </div>
                <div class="input-field">
                    <input type="password" class="input" placeholder="Create Password" name="psw" id="password" required>
                </div>
                <div class="input-field">
                    <input type="password" class="input" placeholder="Confirm Password" name="psw" id="password" required>
                </div>
                
                


                <div class="input-field">
                    <button type="submit" class="submit">Sign Up</button>
                </div>
          
          </form>
          <div class="form-link">
            <span>Already have an account? <a href="/index" class="link signup-link">Login</a></span>
        </div>
        
    
</body>
</html>